@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: row;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:15vw;
    height: 100vh;
    background-color: gray;
}
.top{
    display: flex;
    background-color: red;
    height: 15%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.bottom{
    height: 30%;
    display: flex;
    background-color: yellow;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#errorMessageInput {
    height: 40px;
    /* background-color: red; */
  }

#dealer-cards img, #your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

button {
    width: 100px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}

#reload{
    width: 150px;
    background-color: #eb474f;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}
